body{
    background-color:  hsl(30, 38%, 92%);
}

.second h1{
    color: hsl(212, 21%, 14%);
}



.price p{
    font-size: 11px;
    display: inline;
    text-decoration: line-through;
    margin-left: 20px;
    margin-top: -20.5px;
}

/*Width for mobile*/
@media screen and (max-width:700px)  {
.page{
    background-color: white;
    width: 250px;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 75%;
    margin: -200px 0 0 -120px;
    padding-bottom: 20px;
    border-radius: 13px;
}

.pic{
    width: inherit;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-image: url(https://lh5.googleusercontent.com/qROtzqKQpFOOuLHOeRShVKRk5Z1XrJ5jZ2nBlx8IqtZ6PHNGku4zmD3ro9KMb0sywsg=w2400);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
}

.second{
    padding: 12px;
    font-size: small;
}



.first{
    letter-spacing: 5px;
    padding-bottom: 5px;
    font-size: 9px;
}

p{
    margin: 0;
    font-family: Montserrat;
    font-size: 11px;
    line-height: 18px;
    font-weight: 600;
    color: hsl(228, 12%, 48%);
}


.other{
    margin-top: 10px;
}

h1{
    margin: 0;
    font-family: Fraunces;
    font-weight: bolder;
}

.price h1{
    font-size: x-large;
    margin-top: 5px;
    color: #3c8067;
}

.button{
    background-color: #3c8067;
    border: 2px solid #3c8067;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    color: white;
    font: Montserrat x-small;
    margin-left: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.button p{
    font-weight: 900;
    color: white;
}

.cart{
    font-family: Montserrat;
    width: 25px;
    height: 16px;
}

.price{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
}

/*Width for desktop*/
@media screen and (min-width:701px)  {
.page{
    font-size: smaller;
    border-radius: 13px;
    background-color: white;
    width: 600px;
    position: absolute;
    top: 40%;
    left: 40%;
    height: 60%;
    margin: -200px 0 0 -140px;
}

.pic{
    position: absolute;
    border-radius: 13px 0 0 13px;
    background-image: url(https://lh4.googleusercontent.com/li7i_1NVu7z7SIY1lW1MBbH3ZO1Kj7N1vDG9c0TPzK15znt4KVbp96oUSHF58WC8udU=w2400);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.first{
    letter-spacing: 5px;
    padding-top: 7px;
}

.second{
    padding: 0px 20px 100px 55%;
}


p{
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
    font-weight: 600;
    font-size: small;
    line-height: 22px;
}

h1{
    font-family: Fraunces;
    font-weight: bolder;
}

.price h1{
    color: #3c8067;
}


.button{
    height: 40px;
    width: 195px;
    margin: -90px 0 0 350px;
    background-color: #3c8067;
    border: 2px solid #3c8067;
    border-radius: 5px;
}

.button p{
    margin: -155px 0 0 30px;
    color: white;
}

.cart{
    margin: 0px 0 0 45px;
}
}